.red {
  height: 400px;
  border-radius: 20px;
  border: 1px solid red;
}

.tree {
  display: inline-block;
  vertical-align: top;
  width: 800px;
}

li.tree-element {
  list-style: none;
}

  li.tree-element ul {
    position: relative;
  }

  li.tree-element .bckg-image {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 0;
    top: 2px;
    background-image: url('./sprite.png');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

    li.tree-element.hidden .bckg-image {
      background-position: -15px 0;
    }

  li.tree-element span {
    font-weight: bold;
  }

.pages {
  display: inline-block;
  overflow: hidden;
  max-width: 900px;
}

.current {
  background: #ccc;
}

.navigation li {
  list-style: none;
  display: inline-block;
  margin: 1px;
  padding: 2px;
}

  .navigation li span {
    border: 1px solid black;
    cursor: pointer;
    padding: 2px;
    line-height: 100%;
  }
